{% extends 'testM/base.html' %}
		{% block content %}
			{% for mchat in Mchat %} 
				  <div class="post">
					<div class="date">

							

				    </div>
				       		{% if user.is_staff %}
				       		<a href="{% url 'mchats:update' mchat.id %}" class="btn"><span class="fas fa-pencil-alt">Editar Test</a>	
				       		               		
                    
    						{% endif %}

    			</div>
			{% endfor %}

			{% if Patient %}		

			<a href="{% url 'mchats:patient_create' %}" class="btn"><span class="fas fa-play">Empezar Test</a>

			{% endif %}		
		{% endblock %}