{% extends "testM/base.html" %}
{% load static %}
{% block profile %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="mx-auto shadow p-4 mb-4 bg-white my-5">
    <h2 class="my-5 text-center">Registro de usuario</h2>
  
  
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>!Atención!</strong> {{ error }}.
        </div>          
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block my-5">Registrarse</button>
  </form>
  </div>
</div>
  
  <script src="{% static 'js/signup_script.js' %}"></script>
{% endblock %}