{% extends 'testM/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<script>
	$.noConflict();
</script>
 {%  if request.user == patient.supervisor %} 
<div class="container-fluid my-5 text-center">
    <h2 style=" color:#16a3b0;text-shadow: 2px 2px 4px #2b8869; font-size:40px"> M-CHAT-R/F Segunda etapa</h2>

  </div>
    {% for object in objects %}
    <div class="my-3" style="background-color: lightblue; box-shadow: 2px 2px 4px #3691b0;padding: 25px;">
    	
    <p class="my-3" style="word-break: break-all;font-size:24px">Item {{ object.question }}</p>

    </div>
      
    {% endfor %}

    <div class="alert alert-warning alert-dismissible fade show my-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Si no está familiarizado con la entrevista de seguimiento es conveniente revisar el flujo que se muestra en la figura de la parte inferior de la página.</strong> 
    </div>
    <form method="POST" class="form-group">{% csrf_token %}
    	{{ formset.management_form }}
    	{% for form in formset %}
    	{% if form.question_group.value == "TRIGGER" %}
    		<div class="d-none" id="{{ form.question.id_for_label }}" >
    		<h1 style="border-top: 5px solid lightblue; box-shadow: 2px 2px 4px #3691b0"></h1>
    		<p style="word-break: break-all;font-size:20px"> {{ form.question.value }}</p>    		
	        <div style="word-break: break-all"> {{ form.option }}  </div>       
	        {{ form.option.errors }}
	        <div class="alert alert-warning alert-dismissible">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      Se ha añadido una cuestión realacionada con la última pregunta que has respondido y debe responderla para obtener un resultado correcto. <strong>**Nota: se indica con una etiqueta en la última pregunta respondida el número de la pregunta con la cual está relacionada</strong> 
		      </div>
    		</div>
    		    
		           
      
    		
    	{% elif form.question_group.value == "AUDIT" %}
    		<div class="d-none" id="{{ form.question_group.value }}">
    		<p style="word-break: break-all;font-size:20px">{{ form.question.value }}</p>
	        <p style="word-break: break-all">{{ form.extra_option }}</p>       
	        {{ form.option.errors }}
	        </div>
	    {% else %}
	    
	    	{% if form.question_item.value|cut:" "|length > 0 %}
            <div id="{{ form.question_group.value }}">
	    	<h1 style="border-top: 5px solid lightblue; box-shadow: 2px 2px 4px #3691b0"></h1>
	    	<span class="badge badge-secondary" style="font-size:20px">{{ form.question_item.value }}</span><br>
	    	<p style="word-break: break-all;font-size:20px">{{ form.question.value }}</p>
	        <div style="word-break: break-all">{{ form.option }}</div>
            </div>
	        {{ form.option.errors }}
	        
	    	{% else %}
            <div id="{{ form.question_group.value }}">
	    	<p style="word-break: break-all;font-size:20px">{{ form.question.value }}</p>
	        <div style="word-break: break-all">{{ form.option }}</div> 
            </div>     
	        {{ form.option.errors }}
	        {% endif %}

	    
	    	

	    {% endif %} 
                       
        {% endfor %}
        
       {% if objects.has_next %}
       
       	<button id="buttonnext" type="submit" class="btn btn-primary float-sm-right" disabled="true" name="validate"><span class ="fas fa-arrow-alt-circle-right" style="font-size:18px">Siguiente</span></button>
              
        {% else %}    
        <button id="buttonnext" type="submit" class="btn btn-success btn-block text-center" disabled="true" name="validate">Obtener Resultado</button>
        {% endif %}  
    </form>
    
    	{% if objects.has_previous %}
    	<div class="clearfix">
    	<a href="?page={{ objects.previous_page_number }}" class="btn btn-primary  float-sm-left"><span class="fas fa-arrow-alt-circle-left" style="font-size:18px">Atrás</span></a>
    	</div>
    	
        {% endif %}



    

      <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Pregunta Personalizada</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          A continuacíón puede introducir una pregunta personalizada en referencia a "Otro(Describa)". Al pulsar en guardar se almacenará y se mostrará en el informe final. <p class="small"><strong>Nota: Esto no guarda la respuesta elegida sobre "Otro(Describa)", las respuestas elegidas se guardan una vez se pulsa el botón de Siguiente.</strong></p>

          <div class="mx-auto shadow p-4 mb-4 bg-white my-5">
              <div class="col-md-9 mx-auto">
                <div>
                           
                  <form method="POST" class="form-group" id="form_customq" action="{% url 'mchats:save_custom_quest' patient.pk request.session.question_id %}">{% csrf_token %}
                        {{ customform }}
                        <button id="buttonCustom" type="submit" class="btn btn-info form-control mt3 my-2" name="custom">Guardar Pregunta</button>

                    </form>
                </div>
              </div>
            </div>
        </div>

        <div id="divUndoQuest" class="p-4 mb-4">
        <a id="undoClick" href="{% url 'mchats:undo_custom_quest' patient.pk request.session.question_id %}" class="btn btn-outline-primary" data-toggle="tooltip" title="Al pulsar confirma que quiere descartar la pregunta guardada perteneciente a 'Otro(Describa)'"><span class="fas fa-check"> Descartar pregunta personalizada</a>
        
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        
      </div>
    </div>
  </div>  


    
    {{ request.session.question_id|json_script:"question_id" }}

    <div  id="divAlert" class="my-5 py-3">     
              <div class="alert alert-primary alert-dismissible fade show my-3">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>¡IMPORTANTE!</strong> Algunas cuestiones indican "otro(Describa)"" esto 
                quiere decir que si lo desea puede realizar una pregunta cuya respuesta 
                tenga el mismo sentido que las anteriores, por lo que responder 'Si' o 'No' a la 
                pregunta "otro" da el mismo resultado que las de su grupo. <strong>**Nota: Cada grupo
                de preguntas va marcado por un recuadro gris , además puede mirar el flujo de abajo para más
                información</strong>
              </div>       
            </div>
    
    
    <div id="item_1" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 1</h1>

        <img src="{% static 'testM/item1.png' %}" class="rounded" alt="Flujo Item 1" >
    </div>
    <div id="item_2" class="my-3 py-3 d-none text-center rounded-lg"> 

        <h1 class="text-center">Flujo del Item 2</h1>

        <img src="{% static 'testM/item2.png' %}" class="rounded" alt="Flujo Item 2" >

    </div>
    <div id="item_3" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 3</h1>

        <img src="{% static 'testM/item3.png' %}" class="rounded" alt="Flujo Item 3" >
    </div>
    <div id="item_4" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 4</h1>

        <img src="{% static 'testM/item4.png' %}" class="rounded" alt="Flujo Item 4" > 
    </div>
    <div id="item_5" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 5</h1>

        <img src="{% static 'testM/item5.png' %}" class="rounded" alt="Flujo Item 5" >
    </div>
    <div id="item_6" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 6</h1>

        <img src="{% static 'testM/item6.png' %}" class="rounded" alt="Flujo Item 6" > 
    </div>
    <div id="item_7" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 7</h1>

        <img src="{% static 'testM/item7.png' %}" class="rounded" alt="Flujo Item 7" >
    </div>
    <div id="item_8" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 8</h1>

        <img src="{% static 'testM/item8.png' %}" class="rounded" alt="Flujo Item 8" >
    </div>
    <div id="item_9" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 9</h1>

        <img src="{% static 'testM/item9.png' %}" class="rounded" alt="Flujo Item 9" >
    </div>
    <div id="item_10" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 10</h1>

        <img src="{% static 'testM/item10.png' %}" class="rounded" alt="Flujo Item 10" >
    </div>
    <div id="item_11" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 11</h1>

        <img src="{% static 'testM/item11.png' %}" class="rounded" alt="Flujo Item 11" >
    </div>
    <div id="item_12" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 12</h1>

        <img src="{% static 'testM/item12.png' %}" class="rounded" alt="Flujo Item 12" >
    </div>
    <div id="item_13" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 13</h1>

        <img src="{% static 'testM/item13.png' %}" class="rounded" alt="Flujo Item 13" >
    </div>
    <div id="item_14" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 14</h1>

        <img src="{% static 'testM/item14.png' %}" class="rounded" alt="Flujo Item 14" > 
    </div>
    <div id="item_15" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 15</h1>

        <img src="{% static 'testM/item15.png' %}" class="rounded" alt="Flujo Item 15" >
    </div>
    <div id="item_16" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 16</h1>

        <img src="{% static 'testM/item16.png' %}" class="rounded" alt="Flujo Item 16" >
    </div>
    <div id="item_17" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 17</h1>

        <img src="{% static 'testM/item17.png' %}" class="rounded" alt="Flujo Item 17" >
    </div>
    <div id="item_18" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 18</h1>

        <img src="{% static 'testM/item18.png' %}" class="rounded" alt="Flujo Item 18" > 
    </div>
    <div id="item_19" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 19</h1>

        <img src="{% static 'testM/item19.png' %}" class="rounded" alt="Flujo Item 19" >
    </div>
    <div id="item_20" class="my-3 py-3 d-none text-center rounded-lg"> 
    <h1 class="text-center">Flujo del Item 20</h1>

        <img src="{% static 'testM/item20.png' %}" class="rounded" alt="Flujo Item 20" > 
    </div>
    
 {% else %}

 	<p> No tiene permisos para realizar este test</p>

 {% endif %}
    	
 
{% endblock %}

{% block javascript %}

	<script src="{% static 'js/followup_script.js' %}"></script>

{% endblock %}