{% extends 'testM/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<script>
	$.noConflict();
</script>
 {%  if request.user == patient.supervisor %} 
<div class="container-fluid my-5 text-center">
    <h2 style=" color:#16a3b0;text-shadow: 2px 2px 4px #2b8869; font-size:40px"> M-CHAT-R/F Segunda etapa</h2>

  </div>
    {% for object in objects %}
    <div class="my-3" style="background-color: lightblue; box-shadow: 2px 2px 4px #3691b0;padding: 25px;">
    	
    <p class="my-3" style="word-break: break-all;font-size:30px">Item {{ object.question_id }}: {{ object.question }}</p>

    </div>
      
    {% endfor %}

    <form method="POST" class="form-group">{% csrf_token %}
    	{{ formset.management_form }}
    	{% for form in formset %}
    	{% if form.question_group.value == "TRIGGER" %}
    		<div class="d-none" id="{{ form.question.id_for_label }}" >
    		<h1 style="border-top: 5px solid lightblue; box-shadow: 2px 2px 4px #3691b0"></h1>
    		<p style="word-break: break-all;font-size:20px"> {{ form.question.value }}</p>    		
	        <p style="word-break: break-all;font-size:20px"> {{ form.option }}  </p>       
	        {{ form.option.errors }}
	        <div class="alert alert-warning alert-dismissible">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      Se ha añadido una cuestión realacionada con la última pregunta que has respondido y debe responderla para obtener un resultado correcto. <strong>**Nota: se indica con una etiqueta en lá última pregunta respondida eĺ número de la pregunta con la cual está relacionada</strong> 
		      </div>
    		</div>
    		    
		           
      
    		
    	{% elif form.question_group.value == "AUDIT" %}
    		<div class="d-none" id="{{ form.question_group.value }}">
    		<p style="word-break: break-all;font-size:20px">{{ form.question.value }}</p>
	        <p style="word-break: break-all;font-size:20px">{{ form.extra_option }}</p>       
	        {{ form.option.errors }}
	        </div>
	    {% else %}
	    
	    	{% if form.question_item.value|cut:" "|length > 0 %}
	    	<h1 style="border-top: 5px solid lightblue; box-shadow: 2px 2px 4px #3691b0"></h1>
	    	<span class="badge badge-secondary" style="font-size:20px">{{ form.question_item.value }}</span><br>
	    	<p style="word-break: break-all;font-size:20px">{{ form.question.value }}</p>
	        <p style="word-break: break-all;font-size:20px">{{ form.option }}</p>
	        {{ form.option.errors }}
	        
	    	{% else %}
	    	<p style="word-break: break-all;font-size:20px">{{ form.question.value }}</p>
	        <p style="word-break: break-all;font-size:20px">{{ form.option }}</p>      
	        {{ form.option.errors }}
	        {% endif %}

	    
	    	

	    {% endif %} 
                       
        {% endfor %}
        
       {% if objects.has_next %}
       
       	<button type="submit" class="btn btn-primary float-sm-right"><span class ="fas fa-arrow-alt-circle-right" style="font-size:18px">Siguiente</span></button>
              
        {% else %}    
        <button type="submit" class="btn btn-success btn-block text-center">Obtener Resultado</button>
        {% endif %}  
    </form>
    
    	{% if objects.has_previous %}
    	<div class="clearfix">
    	<a href="?page={{ objects.previous_page_number }}" class="btn btn-primary  float-sm-left"><span class="fas fa-arrow-alt-circle-left" style="font-size:18px">Atrás</span></a>
    	</div>
    	
    {% endif %}
    
    {{ request.session.question_id|json_script:"question_id" }}
    
    
    
    
 {% else %}

 	<p> No tiene permisos para realizar este test</p>

 {% endif %}
    	
 
{% endblock %}

{% block javascript %}

	<script src="{% static 'js/followup_script.js' %}"></script>

{% endblock %}