{% extends 'testM/base.html' %}
		{% block content %}
			{% for mchat in mchat_list %} 
				  <div class="post">
					<div class="date">

							

				    </div>
				       		{% if user.is_staff %}
				       		<a href="{% url 'mchats:update' mchat.id %}" class="btn"><span class="fas fa-pencil-alt">Editar Test</a>	
				       		               		
                    
    						{% endif %}

    			</div>
			{% endfor %}
			
			<a href="{% url 'mchats:mchat_start' %}" class="btn"><span class="fas fa-play">Empezar Test</a>			
		{% endblock %}