{% extends 'testM/base.html' %}

{% load crispy_forms_tags %}

{% block javascript %}
  <script>
    $.noConflict();
    jQuery(document).ready(function(){
      
      var almc = 0;   
      var cont = 0;
      var element = "";
      if({{ request.session.form_error }} > 0){
          nowC = 20 - {{ request.session.form_error }};
          cont = (20 - {{ request.session.form_error }})*5;
          var width = (jQuery(window).width())/20;
          almc = (nowC*width);
          jQuery("#animated").width(almc);
      }
      jQuery("input[type='radio']").click(function(){
        if(element.search(jQuery(this).attr("name")) == -1 ){
            var width = (jQuery(window).width())/20;            
            cont+=5;
            almc+=width
            jQuery("#animated").width(almc);
            element += jQuery(this).attr("name");
            if(cont == 100){
                jQuery("#divAlert").removeClass("d-none");

            }

        }
        

        

  });

      jQuery( window ).resize(function() {
        realsize = ((jQuery(window).width())*cont)/100
        almc = realsize        
        jQuery("#animated").width(almc);  
            
      });
});
  </script>


{% endblock %}

{% block content %}

{%  if request.user == patient.supervisor %} 
 

 

 <div class="progress fixed-bottom">
    <div id="animated" class="progress-bar progress-bar-striped progress-bar-animated " style="width:0%"></div>
  </div>

  
  <div class="card float-right" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{ patient.name }}</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
    
    
    <form method="POST" class="form-group">{% csrf_token %}
    	{{ formset.management_form }}
    	{% for form in formset %}        
        {{ form.question.value }}
        {{ form.option }}
        {{ form.id }}        
        {{ form.option.errors }}               
        {% endfor %}

        <div class="d-none">
      
        <p> debuggueando jquery </p>


    </div>
        <button type="submit" class="btn btn-primary">Obtener Resultado</button>        
    </form>

    <div class="d-none" id="divAlert">     
      <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Atencion!</strong> Ya ha respondido todas las preguntas, revise o haga click en obtener resultado.
      </div>     
      
    </div>


{% else %}

  <p> No tiene permisos para realizar este test</p>	   

{% endif %} 




    

{% endblock %}