{% extends 'testM/base.html' %}

{% load crispy_forms_tags %}

{% block javascript %}
  <script>
    $.noConflict();
    jQuery(document).ready(function(){
      jQuery("#id_form-19-option_1").click(function(){
        jQuery("div").removeClass('d-none');
  });
});
  </script>


{% endblock %}

{% block content %}

 <p> {{ patient.name }} </p>
    
    
    <form method="POST" class="form-group">{% csrf_token %}
    	{{ formset.management_form }}
    	{% for form in formset %}        
        {{ form.question.value }}
        {{ form.option }}
        {{ form.id }}        
        {{ form.option.errors }}               
        {% endfor %}

        <div class="d-none">
      
        <p> debuggueando jquery </p>


    </div>
        <button type="submit" class="btn btn-primary">Obtener Resultado</button>        
    </form>	    


    

{% endblock %}