{% extends 'testM/base.html' %}
		{% block content %}
			{% for mchat in mchats %} 
				  <div class="post">
					<div class="date">

							

				    </div>
				       		{% if user.is_staff %}
				       		<a href="{% url 'mchat_edit' pk=mchat.pk %}" class="btn"><span class="fas fa-pencil-alt">Editar Test</a>	
				       		               		
                    
    						{% endif %}

    			</div>
			{% endfor %}
			<a href="{% url 'mchat_start' %}" class="btn"><span class="fas fa-pencil-alt">Empezar Test</a>
		{% endblock %}