{% extends 'testM/base.html' %}

			
		{% block content %}
		{% load static %}
		<script>
			var dataArray = [];
			var dataArray2 = [];
			var labelsArray = [];
			</script>
		<h3 class="text-center my-5" style="font-size:38px;color:black;text-shadow:2px 2px 4px lightGrey"> Tabla de histórico del niño/a que ha realizado el test M-CHAT-R/F</h3><br>
		{% if patient_historic_list %}
		<div class="table-responsive">
		 		<table class="table table-info table-hover">
				    <thead class="thead-dark">
				      <tr>
				        <th>Paciente</th>
				        <th>Fecha de realización del test</th>
				        <th>Puntuación M-CHAT-R primera etapa</th>
				        <th>Puntuación M-CHAT-R/F segunda etapa</th>
				        <th>Conclusión</th>
				        <th>Ver resultados del Test</th>				  
				      </tr>
				    </thead>
				    <tbody>
   
  
			{% for historic in patient_historic_list %}
				<tr>
				        	<td>{{ historic.patient|title }}</td>
				        	<td>{{ historic.date_test }}</td>					
				       		<td>{{ historic.mchat_score}}</td>
				       		
 
				       		{% if historic.mchat_score > 2 and historic.mchat_score < 8 and historic.item_score|length > 0 %}

				       		<td>{{ historic.mchatrf_score }}</td>
				       		{% else %}
				       		<td>---</td>
				       		{% endif %}
				       		{% if historic.positive %}
				       		<td>Positivo en el test completo</td>
				       		{% else %}
				       		<td>Negativo en el test completo</td>
				       		{% endif %}
				       		{% if historic.item_score|length > 0 %}

				       		<td><a href="{% url 'mchats:patient_historic_result' historic.pk %}" class="btn btn-outline-primary"><span class="fas fa-eye">Ver</a></td>
				       		{% else %}
				       		<td> </td>
				       		{% endif %}

				       </tr>
				       <script>
				       	dataArray.push({{ historic.mchat_score }});
				       	dataArray2.push({{ historic.mchatrf_score }});
				       	labelsArray.push(String("{{ historic.date_test }}"));
				       </script>				      			
			{% endfor %}
				</tbody> 
			</table>
		</div>

		<main role="main">
		  <div class="container mx-auto shadow p-4 mb-4 bg-white my-5">
		    
		          
		          <p class="text-center my-3" style="font-size:36px;color:black;text-shadow:2px 2px 4px grey">Gráfica de progresión del paciente</p>
		          
		          <div class="col-md-9">
		            <canvas id="lineChart"></canvas>
		          </div>
		         
		       
		    </div>
		    
		  </div>  
		</main> 
		

			
			{% else %}
			<div class="alert alert-info" style=" box-shadow: 2px 2px 4px Black;background-image: url({% static 'testM/no_patient.png' %}); opacity: 0.7;">
			    <p style="font-size:36px;color:white;text-shadow:2px 2px 4px Black"><strong>Aún no se ha realizado ningún test completo. Cuando realize un test y se de como finalizado aparecerá una entrada de histórico.</strong> 
				</p>
				
			</div>
			
			{% endif %}
				
		{% endblock %}

		{% block javascript %}
<script>
$.noConflict();
jQuery(document).ready(function(){
var ctxL = document.getElementById("lineChart").getContext('2d');
var myLineChart = new Chart(ctxL, {
type: 'line',
data: {
labels: labelsArray,
datasets: [{
label: "Puntuación M-CHAT primera etapa",
data: dataArray,
backgroundColor: [
'rgba(105, 0, 132, .2)',
],
borderColor: [
'rgba(200, 99, 132, .7)',
],
borderWidth: 2
},
{
label: "Puntuación M-CHAT segunda etapa",
data: dataArray2,
backgroundColor: [
'rgba(0, 137, 132, .2)',
],
borderColor: [
'rgba(0, 10, 130, .7)',
],
borderWidth: 2
}
]
},
options: {
responsive: true
}
});
});
</script>

{% endblock %}