{% extends 'testM/base.html' %}
{% block profile %}
{% endblock %}
		{% block content %}
		{% load static %}
		{% if patient_list %}
		<h2> LISTADO DE NIÑOS/AS QUE REALIZARÁN LA PRUEBA DEL M-CHAT-R/F</h2><br>
		<div class="table-responsive">
		 		<table class="table table-info table-hover">
				    <thead class="thead-dark">
				      <tr>
				        <th>Nombre</th>
				        <th>Apellidos</th>
				        <th>M-CHAT-R primera etapa</th>
				        <th>M-CHAT-R/F segunda etapa</th>
				        <th>Gestion</th>
				      </tr>
				    </thead>
				    <tbody>
   
  
			{% for patient in patient_list %}

				      <tr>
				        	<td>{{ patient.name|title }}</td>
				        	<td>{{ patient.subname|title }}</td>					
				       		<td>{{ patient.mchat_score}}</td>
				       		
 
				       		{% if patient.mchat_score > 2 and patient.mchat_score < 8 and patient.item_score|length > 0 %}

				       		<td>{{ patient.mchatrf_score }}</td>
				       		{% else %}
				       		<td>---</td>
				       		{% endif %}
				       		<td><a href="{% url 'mchats:patient_update' patient.pk %}" class="btn btn-outline-primary"><span class="fas fa-pencil-alt"></a>
				       		<a href="{% url 'mchats:patient_delete' patient.pk %}" class="btn btn-outline-primary"><span class="fas fa-trash"></a></td>
				       </tr> 			
			{% endfor %}
			</tbody> 
			</table>
		</div>


			<a href="{% url 'mchats:patient_create' %}" class="btn btn-outline-primary"><span class="fas fa-plus">Añadir Niño/a</a>
			{% else %}
			<div class="alert alert-info">
			    <p style="font-size:36px;color:lightgreen;text-shadow:2px 2px 4px #000000;"><strong>!Atención!</strong> Usted no ha añadido ningún paciente actualmente.
				</p>
				<img class="card-img-top" src="{% static 'testM/no_patient.png' %}" alt="no patient" style="width:50%">
			</div>
			<a href="{% url 'mchats:patient_create' %}" class="btn btn-outline-primary"><span class="fas fa-plus">Añadir Paciente</a>
			{% endif %}
				
		{% endblock %}
