{% extends 'testM/base.html' %}
{% block profile %}
{% endblock %}
		{% block content %}
		{% load static %}
		<h3> Histórico del niño/a que ha realizado el test M-CHAT-R/F</h3><br>
		{% if patient_historic_list %}
		<div class="table-responsive">
		 		<table class="table table-info table-hover">
				    <thead class="thead-dark">
				      <tr>
				        <th>Paciente</th>
				        <th>Fecha de realización del test</th>
				        <th>Puntuación M-CHAT-R primera etapa</th>
				        <th>Puntuación M-CHAT-R/F segunda etapa</th>
				        <th>Conclusión</th>
				        <th>Ver resultados del Test</th>				  
				      </tr>
				    </thead>
				    <tbody>
   
  
			{% for historic in patient_historic_list %}
				<tr>
				        	<td>{{ historic.patient|title }}</td>
				        	<td>{{ historic.date_test }}</td>					
				       		<td>{{ historic.mchat_score}}</td>
				       		
 
				       		{% if historic.mchat_score > 2 and historic.mchat_score < 8 and historic.item_score|length > 0 %}

				       		<td>{{ historic.mchatrf_score }}</td>
				       		{% else %}
				       		<td>---</td>
				       		{% endif %}
				       		{% if historic.positive %}
				       		<td>Positivo en el test completo</td>
				       		{% else %}
				       		<td>Negativo en el test completo</td>
				       		{% endif %}
				       		{% if historic.item_score|length > 0 %}

				       		<td><a href="{% url 'mchats:patient_historic_result' historic.pk %}" class="btn btn-outline-primary"><span class="fas fa-eye">Ver</a></td>
				       		{% else %}
				       		<td> </td>
				       		{% endif %}

				       </tr> 
				      			
			{% endfor %}
				</tbody> 
			</table>
		</div>
		

			
			{% else %}
			<div class="alert alert-info">
			    <p style="font-size:36px;color:lightgreen;text-shadow:2px 2px 4px #000000;"><strong>!Atención!</strong> Usted no ha añadido ningún paciente actualmente.
				</p>
				<img class="card-img-top" src="{% static 'testM/no_patient.png' %}" alt="no patient" style="width:50%">
			</div>
			
			{% endif %}
				
		{% endblock %}