{% extends 'testM/base.html' %}
{% block profile %}
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}   

<div class="container p-3 my-3 bg-dark text-white">
<h1 class="display-4">Resultado Final M-CHAT-R/F </h1>
<p style="font-size:18px">El resultado final de la entrevista de seguimiento es el siguiente:</p>
	{% if positive %}
			
		<p style="font-size:18px"> Puntuación de la primera etapa: <strong>{{ patient.mchat_score }} </strong></p>
		<p style="font-size:18px"> Puntuación de la etapa de seguimiento: <strong>{{ score_rf }} </strong></p>
		<p style="font-size:18px"> {{ patient.name|title }} ha dado positivo el test M-chat-r/f</p>				
		<div class="alert alert-info">
		    <p> Remita al niño/a para una evaluación diagnóstica y para
			determinar necesidad de atención temprana. Tenga en cuenta que pese a que el test indica que puede haber riesgo de TEA no debe tomar estos valores como una referencia única y siempre debe consultar a un profesional para que determine o realize un diagnóstico más completo y preciso. </p>
		</div>
			  
	{% else %}
		<p style="font-size:18px"> Puntuación de la primera etapa: <strong>{{ patient.mchat_score }} </strong>	</p> </br>
		<p> Puntuación de la etapa de seguimiento: <strong>{{ score_rf }} </strong></p></br>
    	<p style="font-size:18px"><strong>{{ patient.name|title }}</strong> no ha dado positivo en la entrevista de seguimiento o segunda etapa. Es recomendable llevar un seguimiento del niño/a y determinar si es necesario atención temprana.</p>

    {% endif %}
    </div>
 
{% endblock %}