{% extends 'testM/base.html' %}

{% load crispy_forms_tags %}


{% block content %}    
    
	<div class="container">
	<h2>Información sobre la primera etapa del cuestionario</h2>
	{% if dictr.result %}		  		  
		  <div class="alert alert-info">
		    <strong>Atención!</strong> La puntuación final ha sido de <strong>{{ total_score }}</strong></br>
		    {{ dictr.message }}</br><a href="{% url 'mchats:followup_mchat' pk %}" class="btn btn-outline-primary alert-link"><span class="fas fa-play">Continue el 
    	seguimiento para: {{ patient.name }} aquí</a>.
		  </div>
		

    {% else %}
    	<div class="alert alert-success">
		    <strong>M-CHAT-R Completado!</strong> La puntuación final ha sido de <strong>{{ total_score }}</strong></br>
		    {{ dictr.message }} .
		    <p> Puede volver al Inicio haciendo click en home</p>
		</div>
    {% endif %}
    </div>
 
{% endblock %}